<configuration>
  <connectivity.ExtensionSettings3>
    <extension
      interface="Autodesk.Connectivity.Explorer.Extensibility.IExplorerExtension, Autodesk.Connectivity.Explorer.Extensibility, Version=23.0.0.0, Culture=neutral, PublicKeyToken=aa20f34aedd220e1"
      type="Thunderdome.TheExtension, Thunderdome">
    </extension>
  </connectivity.ExtensionSettings3>
</configuration>



