<configuration>
  <connectivity.ExtensionSettings3>
    <extension
      interface="Autodesk.Connectivity.Explorer.Extensibility.IExplorerExtension, Autodesk.Connectivity.Explorer.Extensibility"
      type="Thunderdome.TheExtension, Thunderdome">
    </extension>
  </connectivity.ExtensionSettings3>
</configuration>



